@font-face {
    font-family: 'MyCustomFont';
    src: local('MyCustomFont')
        url('../assets/fonts/FESans.var.woff2') format('woff2'),
        url('../assets/fonts/FESans.var.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyCustomFont';

}

:root {
    --color1: rgb(8,5,109);
    --color2:#08056d;
    --color3:rgb(0,155,255);
    --color4:rgb(0,255,255);
    --color5:#00ffff;
}