@font-face {
    font-family: 'MyCustomFont';
    src: local('MyCustomFont')
        url('../assets/fonts/FESans.var.ttf') format('ttf'),
        url('../assets/fonts/FESans.var.woff2') format('opentype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'SubFont';
    src: url('../assets/fonts/UncutSans-Medium.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'GeneralBigFont';
    src: url('../assets/fonts/UncutSans-Bold.otf') format('opentype');
    font-weight: 900;
    font-style: bold;
}

@font-face {
    font-family: 'HomepageFont';
    src: url('../assets/fonts/UncutSans-Light.otf') format('opentype');
    font-style: light;
}

@font-face {
    font-family: 'NormalBoldFont';
    src: url('../assets/fonts/UncutSans-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: bold;
}

@font-face {
    font-family: 'GenMediumFont';
    src: url('../assets/fonts/Ginto_Nord_Regular.ttf') format('opentype');
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyCustomFont';
    letter-spacing: clamp(0.8px,0.1vh,3px);
    margin-block-start: 0;
    margin-block-end: 0;
}

:root {
    --color1:#08056d;
    --color2:rgb(0,155,255);
    --color3:#00c2ff;
    --color4:#00ffff;
    --opacity:rgba(0, 71, 255, 0.05)
}
html {
    scroll-behavior: smooth;
  }