@font-face {
    font-family: 'MyCustomFont';
    src: local('MyCustomFont')
        url('../assets/fonts/FESans.var.woff2') format('woff2'),
        url('../assets/fonts/FESans.var.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MyCustomFont';
    letter-spacing: clamp(1px,0.2vh,3px);
}

:root {
    --color1:#08056d;
    --color2:rgb(0,155,255);
    --color3:#00c2ff;
    --color4:#00ffff;
    --opacity:rgba(0, 71, 255, 0.05)
}