:root {
    --color1:#08056d;
    --color2:rgb(0,155,255);
    --color3:#00c2ff;
    --color4:#00ffff;
    --opacity:rgba(0, 71, 255, 0.1)
}
@media(min-width: 1210px){
    #nav{
        margin:0 0 0 100px;
        .nav-link{
            overflow: hidden;
            text-align: center;
            margin-left: 30px;
            font-family: 'MyCustomFont';
            word-spacing: 2px;
            font-style: none;
        }
        .image{
            padding: 10px 40px;
            overflow: hidden;
            text-align: center; 
        }
    }
}
@media(max-width: 1210px){
    
        .container{ 
            margin: 10px 20px 20px 0px;
        }
        .navbar-brand{
            img{
                min-width: 230px;
                height: auto;
                margin-left: -10px;
            }
        }
    
}
.image{
    width: clamp(180px,16vw,300px);
    height: auto;
}
a{
    text-decoration: none;
    padding-left: 5px;
}
.nav{
    border-bottom: 6px solid var(--color3);
    a{
        text-decoration: none;
        font-size: clamp(0.8rem, 0.9vw, 1.5rem);
        padding-bottom: 8px;
    }
}
.navbar-toggler collapsed{
    border: 1px solid black;
}

.dropdown-menu{
    padding: 4px;
}
@media(max-width: 1170px){
    .dropdown-menu{
        width: 40%;
    }
}

.dropdown-item{
    transition: all 0.5s ease;
    font-weight: 500;
    padding: 10px;
}

.dropdown-item:hover{
    background-color: var(--opacity);
}

@media(max-widht:1000px){
    .nav-link{
        margin-left: 0px;
    }
}

.nav-link:hover{
    background-color: var(--opacity);
    border-radius: 4px;
}

.navbar-collapse{
    margin-left: 10px;
}
.navbar-collapse a{
    padding: 10px;
    font-family: 'MyCustomFont';
    font-size: 1rem;
}